/* Reset & global */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

h1, h2 {
  margin: 0 0 20px;
}

p {
  line-height: 1.6;
}
